.dark code {
  background-color: initial;
}

.dark h1,
.dark h2,
.dark h3,
.dark h4,
.dark h5,
.dark h6 {
  color: #E8E8E3;
}

pre code{
  font-size: 130.0%;
  line-height: 105.0%;
  // background-color: initial;
}

code{
  font-size: 100.0%;
  // background-color: #44475a;
}

.article-style aside, .alert-note {
    color: #f6fbfe;
    background-color: #12537e61;
    border-color: #209cee;
}

.article-style aside, .alert-warning {
    color: #fff5f7;
    background-color: #cd09302b;
    border-color: #ff3860;
}

// From https://discourse.gohugo.io/t/adding-anchor-next-to-headers/1726/14
.hanchor {
  font-size: 100%;
  visibility: hidden;
  color:#d8d8d3;
}

.dark a {
  color:#E8E8E3;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a,
h5:hover a {
  visibility: visible;
}

.dark .article-style a:not(.nav-link,.hanchor) {
    text-decoration: underline;
}
